*{
  font-weight: normal;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Bree Serif;
}

body{
  margin: 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background: #F3F0E9;
}

button{
  outline: none;
}